.footer{ 
    height:10vh;
    display: flex;
    width:100%;
    margin:0;
    bottom: 0;
    padding:0;
    position: relative;

    background-color: #f4b6fa;

    &-content{
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
        align-items: center;
    }
}